html,
body {
    font-family: Consolas, monaco, monospace;
}

#chart {
    padding: 20px;
}

table {
    width: 100%;
    height: 500px;
}

hr {
    border: none;
    background-color: red;
    height: 2px;
    transform: translateY(-457px);
}

.charttitle {
    text-align: center;
}

.bars td {
    vertical-align: bottom;
    width: 8%;
}

.legend {
    vertical-align: bottom;
    padding-left: 20px;
    text-align: left;
}

.legbox {
    display: block;
    clear: both;
}

.xaxisname {
    margin: 5px;
    color: #fff;
    font-size: 70%;
    padding: 5px;
    float: left;
}

.mediana{
    text-align: center;
}

.mediana::before{
    content: "";
    display: block;
    width: 160px;
    height: 2px;
    background: red;
    left: 35%;
    top: 6%;
    position: absolute;
}

.mediana::after{
    content: "";
    display: block;
    width: 160px;
    height: 2px;
    background: red;
    right: 35%;
    top: 6%;
    position: absolute;
}
.very_good{
    background: green;
    opacity: 0.8;
}
.good{
    background: #27AE60;
    opacity: 0.8;
}
.average{
    background: #F1C40F;
    opacity: 0.8;
}
.worse{
    background: #E67E22;
    opacity: 0.8;
}
.bad{
    background: #C0392B;
    opacity: 0.8;
}
